{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm) }}
    <div class="card">
        <div class="card-header">
            <h2>Registration</h2>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">

                    <div class="row margin-10-0">
                        <div class="col-4">{{ form_label(registrationForm.email) }}</div>
                        <div class="col-8">{{ form_widget(registrationForm.email) }}</div>
                    </div>
                    <div class="row margin-10-0">
                        <div class="col-4">{{ form_label(registrationForm.plainPassword) }}</div>
                        <div class="col-8">
                            {{ form_widget(registrationForm.plainPassword, {
                                label: 'Password'
                            }) }}
                        </div>
                    </div>
                    <div class="row margin-10-0">
                        <div class="col-4">{{ form_label(registrationForm.agreeTerms) }}</div>
                        <div class="col-8">{{ form_widget(registrationForm.agreeTerms) }}</div>
                    </div>

                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
                <div class="col-md-3">
                    &nbsp;
                </div>
            </div>
        </div>
        <div class="card-footer">
            <button type="submit" class="btn btn-sm btn-primary float-right">Register</button>
        </div>
    </div>
    {{ form_end(registrationForm) }}








{% endblock %}
