
<div class="container" style="height: auto !important;">
	<header class="d-none d-md-block">
		<div class="mx-auto mb-10"><img src="{{ asset('build/images/Logo_Digital_Art_1.png') }}" class="img-fluid w-96" alt="Lagocki Digital Art Logo"></div>
	</header>
</div>
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-dark px-1 px-sm-3">
	<div class="container">
		<button class="navbar-toggler border-0" type="button" data-toggle="collapse" data-target="#navbar">
			<i class="icon icon-fw icon-navicon"></i><span class="sr-only">Toggle Navbar</span>
		</button>
		<a class="navbar-brand d-block d-md-none" href="#" style="border: 1px solid red"><img src="{{ asset('build/images/Logo_2.png') }}" class="bar" alt="">asdjfj</a>
		<div class="navbar-collapse collapse px-3 px-md-0" id="navbar">
			<ul class="navbar-nav nav-fill w-100">
				<li class="nav-item text-left border-1 border-gray-700">
					<a class="nav-link" href="#"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">Home</span></a>
				</li>
				<li class="nav-item text-left border-1 border-gray-700">
					<a class="nav-link" href="#"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">Galarien</span></a>
				</li>
				<li class="nav-item text-left border-1 border-gray-700">
					<a class="nav-link" href="#"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">&Uuml;ber mich</span></a>
				</li>
				<li class="nav-item text-left border-1 border-gray-700">
					<a class="nav-link" href="#"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">Info´s</span></a>
				</li>
				<li class="nav-item text-left border-1 border-gray-700">
					<a class="nav-link" href="#"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">Kontakt</span></a>
				</li>
				<li class="nav-item text-left border-1 border-gray-700">
{#				{% if app.user %}#}
{#					<a class="nav-link" href="{{ url('digital-art') }}"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">{{ app.user.userIdentifier }} <i class="fa fa-forward fa-fw mr-2"></i></span></a>#}
{#				{% else %}#}
{#					<a class="nav-link" href="{{ url('digital-art') }}"><i class="icon icon-fw icon-lg icon-comment-o"></i> <span class="pl-2">Login <i class="fa fa-forward fa-fw mr-2"></i></span></a>#}
{#				{% endif %}#}
				</li>
{#				<li class="nav-item text-right">#}
{#					<span class="nav-link pl-2" data-toggle="tooltip" title="" data-original-title="Member Online">#}
{#						<i class="icon icon-fw icon-lg icon-smile-o mr-2"></i> <span class="text-primary text-corona-chatout">123</span>#}
{#					</span>#}
{#				</li>#}
			</ul>
		</div>
	</div>
</nav>
